h1 {
	color: #0D2C40;
	letter-spacing: 1px;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
h2 {
	color: #0D2C40;
	letter-spacing: 1px;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 20px;
}
a {
	/*color: #F15B31; */
	letter-spacing: 1px;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0 20px;
	color: #FFFFFF;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}
header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}
nav {
	background-color: #00A6B3;
	color: white;
	padding: 20px 0;
}
main {
	width: 850px;
	margin: 35px auto;
}
body {
	text-align: center;
	margin: 0;
}
img {
	margin: 40px 8px 0 8px;
}
footer {
	margin: 40px 0 0 0;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}